.container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    gap: 32px;
    background-color: var(--surface);
    padding: 8px 16px;
    border: solid 0px var(--border);
    border-bottom-width: 1px;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    flex: 1;
    gap: 16px;
}